:root {






  /* Font-size */

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* -------------------- Margins Bottom -------------------- */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

}

/* body{
  background-color: #3a3a3a;
} */




/* ----------------------- Navbar --------------------- */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.3s;
  /* /* border: 1px solid black; */
  background-color: rgb(255, 255, 255);
  /* background-color: rgba(0, 0, 0, 0.246); */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

nav {
  /* margin-top: 5px; */
  /* margin-left: 200px; */
  /* border: 1px solid red; */
  width: 65%;
}

.links {
  color: rgb(29, 89, 103);
  /* text-shadow: 0 0 1px #000; */
}

.nav-link {
  color: rgb(236, 94, 236);
}

.nav-link:hover {
  color: rgb(182, 72, 182);
}

#logo_div {
  /* border: 1px solid green; */
  margin-left: 5%;
}

#logo {
  margin-bottom: -6px;
  color: rgb(86, 86, 86);

}

#N {
  color: rgb(168, 71, 168);
}

ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa-solid {
  width: 35px;
  margin-top: 12px;
  font-size: 0.85em;
  -webkit-text-fill-color: rgb(49, 186, 175);
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
  /* border: 1px solid red; */
}

li {
  list-style: none;
  height: 45px;
  width: 100px;
  overflow: hidden;
}

li>span {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

li>span:nth-child(1) {
  font-size: 32px;
}

li:hover span {
  transform: translateY(-100%)
}

nav a {
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

.fa-moon {
  font-size: 30px;
}

.container {
  display: flex
}

#Label {
  width: 68px;
  height: 25px;
  position: relative;
  display: block;
  background: rgb(49, 186, 175);
  border-radius: 200px;
  /* box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4); */
  cursor: pointer;
  transition: 0.3s
}

#Label:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2.5px;
  left: 3px;
  background: linear-gradient(180deg, #f8faa5, #f9ae53);
  border-radius: 30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s
}

#darkmode-Toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}

#darkmode-Toggle:checked+#Label {
  background: #242424;
}

#darkmode-Toggle:checked+#Label:after {
  left: 68px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

#Label,
#Label:after {
  transition: 0.3s
}

#Label:active:after {
  width: 50px;
}

#main {
  background: #ffffff;
  transition: 0.3s;
  z-index: -1;
  position: absolute;
}

#darkmode-Toggle:checked+#Label+#main {
  background-color: #242424;
}

label svg {
  position: absolute;
  width: 20px;
  top: 2px;
  z-index: 100;
}

label svg.sun {
  left: 3px;
  fill: white;
  transition: 0.3s;
}

label svg.moon {
  left: 50px;
  fill: #7e7e7e;
  transition: 0.3s;
}

input:checked+label svg.sun {
  fill: #7e7e7e;
}

input:checked+label svg.moon {
  fill: #fff;
}

#dark_mode_div {
  /* border: 1px solid red; */
  margin-right: 40px;
  margin-top: -9px;
}

#resume-button-1{
  color:white;
  background-color: white;
  border:none;
}

/* ---------------------------- left-static -----------------------  */
#left_static_bar {
  width: 2%;
  padding-left: 10px;
  position: fixed;
  height: 30rem;
  display: flex;
  flex-direction: column;
  z-index: 6;
  margin-top: 100px;
}

#left_static_bar svg {
  transition-duration: 0.5s;
}

#left_static_bar svg:hover {
  fill: rgb(198, 8, 198);
  transition-duration: 0.5s;
  margin-left: 3px;
  margin-top: 3px;
}

#left_static_bar h5 {
  writing-mode: vertical-rl;
  color: rgb(131, 3, 131);
  /* margin-left: 40px;
  margin-top:  */
}


@media screen and (min-width: 100px) and (max-width: 500px) {
  #left_static_bar {
    width: 2%;
    padding: 10px;
    position: fixed;
    height: 33rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 6;
  }

  #left_static_bar i {
    color: rgb(255, 255, 255);
    font-size: small;
    transition-duration: 0.5s;
  }

  #left_static_bar i:hover {
    font-size: medium;
  }

  #left_static_bar h5 {
    writing-mode: vertical-rl;
    color: rgb(131, 3, 131);
  }
}


/* -------------------- Right-static -------------------- */

#right_static_bar {
  /* padding: 10px; */
  right: 10px;
  width: 2%;
  position: fixed;
  height: 27rem;
  display: flex;
  flex-direction: column;
  z-index: 6;
  /* border: 1px solid rgb(0, 0, 0); */
  margin-top: 100px;
}

#right_static_bar h5,
#right_static_bar span {
  writing-mode: vertical-rl;
  color: rgb(131, 3, 131);
  cursor: pointer;
}

#right_static_bar span {
  letter-spacing: 2px;
  font-size: 16px;
  transition-duration: 0.5s;
}

#right_static_bar span:hover {
  color: rgb(20, 109, 160);
  padding: 5px;
}


/* ------------------------------------------- Introduction -------------------------------------------- */


.intro_container>div {
  width: 45%;
}

#intro_text {
  text-align: justify;
  font-weight: 450;
}

#user-detail-name {
  color: rgb(255, 253, 253);
}

.home_subtitle {
  font-size: 20px;
  color: rgb(139, 4, 139);
  font-weight: 500;
  margin-bottom: var(--mb-1)
}

#intro_connect_btn {
  border: 2px solid rgb(131, 3, 131);
  border-radius: 5px;
  width: 200px;
  background-color: rgb(43, 160, 151);
  padding-left: 5px;
  padding-right: 5px;
}

#intro_connect_btn:hover {
  border: 2px solid rgb(209, 44, 209);
  transition-duration: 0.2s;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);

}

#intro_connect_btn>a {
  text-decoration: none;
  font-size: var(--h3-font-size);
  color: rgb(255, 255, 255);
  margin-left: 5px;
}

#home {
  margin-top: 60px;
  border: 1px solid rgb(255, 255, 255);
  height: 550px;
  background: linear-gradient(62deg, #fc8cfc, #23D5AB, #e15ebc, #3ce7a5);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.intro_container {
  color: white;
  width: 80%;
  margin: auto;
  padding: 2rem;
  /* position: absolute; */
  top: 140px;
  left: 12%;
  border-radius: 3px;
  margin-top: 90px;
  display: flex;
  /* border: 1px solid rgb(242, 110, 110); */
  justify-content: space-evenly;
}

#home_img {
  border: 1px solid rgb(255, 255, 255);
  width: 300px;
  height: 315px;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  /* margin-top:5%; */
}

.home-img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  height: 300px;
  object-fit: cover;
}

/* ------------------------------------------ ABOUT ------------------------------------------ */

#about {
  width: 90%;
  margin: auto;
  margin-left: 8%;
  margin-top: 60px;
}

.section_title {
  text-align: center;
  color: #3a3a3a
}

.section_title:hover {
  color: #3a3a3a;
}

#user-detail-intro {
  text-align: justify;
}

.about_container {
  display: flex;
  margin-top: 20px;
  /* bordeR: 1px solid green; */
  justify-content: space-evenly;
}

.about_container>div {
  width: 40%;
  /* border: 1px solid black; */
}

.about_container>div:nth-child(1) {
  width: 50%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.about_container img {
  width: 100%;
  text-align: center;
}


.about_info {
  /* border: 1px solid red; */
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: repeat(3, 25%);
  grid-column-gap: 30px;
  grid-row-gap: 15px;
}

.about_info>div {
  border: 1.5px solid rgb(131, 3, 131);
  border-radius: 5px;
}

.about_info>div:hover {
  transition: 0.4s;
  border: 1.8px solid rgb(212, 3, 253);
  margin-left: 3px;
  margin-top: 2px;
}


.about_data {
  text-align: center;
}

.about_info-title {
  font-size: 18px;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.about_info-name {
  font-size: var(--smaller-font-size);
}

.about_info-title,
.about_info-name {
  display: block;
  text-align: center;
}

#about_button {
  margin-top: 30px;
}

#resume-button-2 {
  text-decoration: none;
  color: #542d09
}

#about_button {
  border: 1px solid rgb(172, 94, 11);
  width: 200px;
  margin: auto;
  margin-top: 20px;
  background-color: #96f9c6;
  padding: 7px;
  border-radius: 8px;

}

#download {
  fill: white;
  margin-bottom: -8px;
  margin-left: 4px;
}

#about_button:hover {
  background-color: #7df6ec;
}

#download:hover {
  margin-left: 8px;
  transition: 0.2s;
}


/* -------------------------------------- Skills --------------------------------- */

#skills {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 70px;
  border:1px solid red;
}

.skills-wrap {
  /* border: 1px solid red; */
  width: 60%;
  margin: auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  gap: 20px;
}

.skills-wrap>div {
  border: 1.5px solid purple;
  box-shadow: 0 0 5px #bc07e0;
  border-radius: 6px;
}

.skills-wrap>div:hover {
  border: 1.5px solid rgb(107, 107, 107);
  border-radius: 6px;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px #20a2fe;
}

#skills-container img {
  border-radius: 6px;
  width: 100%;
}

.sk-title {
  margin-top: 8px;
}

#cyclic_div>div {
  /* bordeR: 1px solid pink; */
  margin-top: 20px;
}

#cyclic_div>div:nth-child(2) {
  margin-top: 26px;
}


/* For smartphones */
@media screen and (min-width: 100px) and (max-width: 480px) {
  #skills{
    width:100%;
    border:1px solid green;
  }
}

/* For small tablets */
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* CSS styles for small tablets */

}

/* For larger tablets and smaller laptops */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* CSS styles for larger tablets and smaller laptops */
}

/* For desktop screens */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* CSS styles for desktop screens */
}

/* For large screens */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  /* CSS styles for large screens */
}

/* ---------------------------------------------- Projects ------------------------------------------------ */

#projects {
  padding-top: 80px;
  padding-bottom: 100px;
}

#projects h2 {
  border: 1px solid rgb(82, 82, 82);
  padding: 10px;
  width: 42%;
  margin: auto;
  text-align: center;
}

#projects h2:hover {
  border: 1px solid rgb(255, 255, 255);
}

#project-div {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.project-card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid rgb(135, 135, 135);
}

.project-card-img img {
  width: 100%;
}

.project-card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-title,
.project-description,
.project-tech-stack,
.project-card-links {
  margin: 5px;
}

.project-github-link>i,
.project-deployed-link>i {
  font-size: x-large;
  margin: 0px 5px;
}

.project-github-link>i:hover,
.project-deployed-link>i:hover {
  color: rgb(70, 194, 239);
}

.project-tech-stack>img {
  width: 4%;
}

.project-description {
  font-weight: 600;
}

/* For smartphones */
@media screen and (min-width: 100px) and (max-width: 480px) {

  /* CSS styles for smartphones */
  #projects {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  #projects h2 {
    border: 1px solid rgb(82, 82, 82);
    padding: 5px;
    width: 42%;
    margin: auto;
    text-align: center;
  }

  #projects h2:hover {
    border: 1px solid rgb(255, 255, 255);
  }

  #project-div {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .project-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid rgb(135, 135, 135);
  }

  .project-card-img img {
    width: 90%;
  }

  .project-card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project-title,
  .project-description,
  .project-tech-stack,
  .project-card-links {
    margin: 5px;
  }

  .project-github-link>i,
  .project-deployed-link>i {
    font-size: large;
    margin: 0px 5px;
  }

  .project-github-link>i:hover,
  .project-deployed-link>i:hover {
    color: rgb(70, 194, 239);
  }

  .project-tech-stack>img {
    width: 5%;
  }

  .project-description {
    display: none;
  }
}

/* For small tablets */
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* CSS styles for small tablets */

}

/* For larger tablets and smaller laptops */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* CSS styles for larger tablets and smaller laptops */
}

/* For desktop screens */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* CSS styles for desktop screens */
}

/* For large screens */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  /* CSS styles for large screens */
}

/* ------------------------------------------ Github ------------------------------------------ */

.react-activity-calendar {
  text-align: center;
  margin-top: 70px;
}

#git-stat {
  width: 40%;
  margin: auto;

}

#git-stat div {
  width: 100%;
  margin: auto;
  /* border: 1px solid red; */
}

#calendar_div {
  background-color: rgb(42, 178, 178);

}

.calendar {
  width: 80%;
  margin: auto;
}

/* ------------------------------------ Contact ------------------------------------------ */

#contact {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
  /* border: 1px solid red; */
}

#contact_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
}

#contact_container>div {
  /* border: 1px solid green; */
  margin: auto;
  margin-top: 30px;
}

.mail {
  font-weight: 500;
  font-size: 1.1rem;
  transition: 0.3s margin-left;
  text-decoration: none;
}

.mail svg {
  font-size: 1.5rem;
  margin-left: 2px;
  margin-top: 10px;
  transform: translateY(3px);
  transition: 0.3s margin-left;

}

.mail:hover {
  text-decoration: none;
  margin-left: 10px;
  margin-top: 10px;
  transform: translateY(3px);
  transition: 0.3s margin-left;
}



.socialaccount-media {
  justify-content: space-evenly;
  align-content: center;
  display: flex;
}

.gitlinkedin svg {
  fill: rgb(180, 23, 180)
}

.gitlinkedin:hover svg {
  fill: #4dd0f8;
  margin-left: 3px;
  margin-top: 3px;
  transition: 0.3s;
}

.socialaccount-link {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 2px; */
}

.contact_link {
  font-weight: 600;
  color: rgb(91, 91, 91);
}

.contact_link:hover {
  color: rgb(176, 14, 176);
  cursor: pointer;
}

.link-title {
  font-weight: 600;
  color: rgb(71, 71, 71);
}

#location {
  /* border: 1px solid red; */
  width: 30%;
}

#location_h {
  margin-top: 10%;
}

.location_content {
  font-weight: 100px;
  color: #756e6e;
  font-size: 14px;
}

/* -------------------------------------------------- Footer -------------------------------------------------------------- */

#footer {
  width: 100%;
  height: 60px;
  margin-top: 70px;
  background-color: rgb(238, 170, 238)
}

#footer_2 {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

#footer_2>div {
  margin-top: 20px;
  /* border: 1px solid green; */
}

#footer_2>div svg {
  fill: rgb(131, 3, 131)
}

#logo_div2 {
  margin-left: 0;
}


html::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  border-radius: 15px 15px 15px 15px;
}

html::-webkit-scrollbar-track {
  background: linear-gradient(0deg, rgb(43, 160, 151) 60%, rgb(214, 105, 214) 100%);
}

html::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100vh rgb(255, 255, 255);
  border-radius: 5px;
}

.vscrollbar {
  overflow-x: hidden;
  /*for hiding horizontal scroll bar*/
  overflow-y: auto;
  /*for vertical scroll bar*/
}