
#header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s;
    border: 1px solid black;
}
#header>div{
    /* border: 1px solid green; */
}
nav{
    margin-top: 5px;
    margin-left: 200px;
    width: 60%;
    /* border: 1px solid red; */
    /* margin-left: 50%; */
}
.nav-link{
    color: rgb(236, 94, 236);
}
.nav-link:hover{
    color: rgb(182, 72, 182);
}
#logo_div{
border: 1px solid green;
margin-left: 5%;
}
#logo{
    margin-bottom: -8px;

}
#N{
    color: rgb(182, 72, 182);
}
ul{
    padding:0;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
li{
    list-style: none;
    height: 85px;
    width:100px;
    overflow: hidden;
}
li>span{
    display:flex;
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
li>span:nth-child(1){
    font-size: 32px;
}
li:hover span{
    transform: translateY(-100%)
}
a{
    text-decoration: none;
    font-size: 18px;
}
.fa-moon{
    font-size: 32px;
}
#home{
    margin-top: 150px;
}
.container{
    display:flex
}
#Label{
    width:80px;
    height:30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
    transition: 0.3s
}

#Label:after {
    content: "";
    width:25px;
    height: 25px;
    position: absolute;
    top: 2.5px;
    left:3px;
    background: linear-gradient(180deg,#e79efd,#c83cf3);
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: 0.3s
}
  
#darkmode-Toggle {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  #darkmode-Toggle:checked + #Label {
    background: #242424;
  }
  
  #darkmode-Toggle:checked + #Label:after {
    left:80px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
  #Label, #Label:after {
    transition: 0.3s
  }
  #Label:active:after{ 
    width: 50px; 
  }
  #main{
        background: #ffffff;
        transition: 0.3s;
        z-index:-1;
        position: absolute;
  }
  #darkmode-Toggle:checked + #Label + #main{
    background-color:#242424;
  }
  label svg{
    position: absolute;
    width: 25px;
    top: 2px;
    z-index: 100;
  }
  label svg.sun{
    left:3px;
    fill:white;
    transition:0.3s;
  }
  label svg.moon{
    left:55px;
    fill:#7e7e7e;
    transition:0.3s;
  }
  input:checked +label svg.sun{
    fill: #7e7e7e;
  }
  input:checked +label svg.moon{
    fill: #fff;
  }
  #dark_mode_div{
    margin-right: 40px;
    margin-top: -25px;
  }
